/* SELECTORS
---------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV 
---------------------------------------------------------- */
.nav{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 15px 5px;
}

.nav a{
    text-decoration: none;
}

.apps{
    opacity: 0.9;
    display: inline-block;
    vertical-align: middle;
    color: grey;
}

.left-nav{
    margin: 10px;
}

.left-nav a{
    margin-right: 10px;
}

.right-nav a, button{
    margin-left: 10px;
}

.sign-in{
    background: #1a73e8;
    border: #1a73e8;
    color: white;
    text-shadow: 0 0 0 white;
    padding: 10px 15px;
    border-radius: 3px;
}

.underline{
    color: #535353;
}

.underline:hover,
.underline:focus{
    border-bottom: 1px solid grey;
}

.apps:hover,
.apps:focus{
    color: black;
}

.sign-in:hover,
.sign-in:focus{
    opacity: 0.8;
}

/* BANNER
---------------------------------------------------------- */
.banner{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 207px;
}

/* ICONS 
================*/
.mic{
    background: 
    linear-gradient(to bottom, 
    rgb(63,133,244) 0%,
    rgb(63,133,244)50%,
    rgb(234,67,53),
    rgb(52,168,83),
    rgb(52,168,83));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

.search{
    color: #a1a1a1;
    margin-right: 10px;
} 


/* SEARCH-BOX
================*/
.search-box input{
    width: 100%;
    max-width: 500px;
    border:0;
    outline: none;
    font-size: 1.1rem;
}

.search-box:hover,
.search-box:focus{
    box-shadow: 0 0 5px #d1d1d1;
    box-shadow: 0 2px 5px #d3d2d2;
}

.search-box{
    max-width: 575px;
    margin: 0 auto;
    width: 93%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 10px 15px 5px 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}


/* BUTTONS
================*/
.banner button:hover{
    border: 1px solid #d3d3d3;
    box-shadow:  0 0 2px #d3d3d3; 
}

.buttons button{
    background: #f8f9fa;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.75;
    margin-bottom: 30px;
    border: 1px solid #f8f9fa;
    box-shadow:  0 0 2px transparent; 
}


/* LANGUAGE (PARAGRAPH)
================*/
.language{
    font-size: small;
}

.language a{
    padding-left: 5px;
    text-decoration: none;
}

.language a:hover,
.language a:focus{
    text-decoration: underline;
}


/* FOOTER
---------------------------------------------------------- */
